<div class="jumbotron">
  <h2>Stash This Moment</h2>
  <p>
    Hold on to the moments that matter. All it takes is a quick and easy text.
  </p>
</div>

<div class="row">
  <!-- Login Link -->
  <div class="col-md-4 col-md-offset-1">
    <%= link_to "Login", "#login-form", "data-toggle" => "modal" %>
  </div>

  <!-- Login Modal -->
  <div class="modal fade" id="login-form" tabindex="-1" role="dialog" aria-labelledby="login-form">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <%= render partial: "sessions/login_form" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Signup Link -->
  <div class="col-md-4 col-md-offset-2">
    <%= link_to "Sign Up", "#signup-form", "data-toggle" => "modal" %>
  </div>

  <!-- Signup Modal -->
  <div class="modal fade" id="signup-form" tabindex="-1" role="dialog" aria-labelledby="login-form">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4 col-md-offset-7">
          <%= render partial: "sessions/signup_form" %>
        </div>
      </div>
    </div>
  </div>
</div>
