<div class="jumbotron">
  <div class="container jumbotron-title">
    <h1 class="megrim-font">Stash This Moment</h1>
    <p>
      Hold on to the moments that matter. All it takes is a quick and easy text.
    </p>
  </div>
</div>


<div class="row login-row">
  <!-- Login Link -->
  <div class="col-sm-2 col-sm-offset-2">
      <%= link_to "Login", "#login-form", "data-toggle" => "collapse", class: "btn-login btn-circle-lg" %>
  </div>

  <!-- Signup Link -->
  <div class="col-sm-2 col-sm-offset-4">
    <%= link_to "Sign Up", "#signup-form", "data-toggle" => "collapse", class: "btn-signup btn-circle-lg" %>
  </div>
</div>

<!-- Login collapse -->
<div class="row form-row">
  <div class="col-sm-4 col-sm-offset-1">
    <div id="login-form" class="login-modal-form collapse">
      <%= render partial: "sessions/login_form" %>
    </div>
  </div>
<!-- Signup collapse -->
  <div class="col-sm-4 col-sm-offset-2">
    <div id="signup-form" class="signup-modal-form collapse">
      <%= render partial: "sessions/signup_form" %>
    </div>
  </div>
</div>
