<div class="jumbotron">
  <div class="container jumbotron-title">
    <h1 class="megrim-font">Stash This Moment</h1>
    <p>
      Hold on to the moments that matter. All it takes is a quick and easy text.
    </p>
  </div>
</div>


<div class="row login-row">
  <!-- Login Link -->
  <div class="col-sm-2 col-sm-offset-2 center-contents">
      <%= link_to "Login", "#login-form", "data-toggle" => "modal", class: "btn-login btn-circle-lg" %>
  </div>

  <!-- Signup Link -->
  <div class="col-sm-2 col-sm-offset-4 center-contents">
    <%= link_to "Sign Up", "#signup-form", "data-toggle" => "modal", class: "btn-signup btn-circle-lg" %>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="login-form" tabindex="-1" role="dialog" aria-labelledby="login-form">
  <div class="modal-body login-modal-form">
    <%= render partial: "sessions/login_form" %>
  </div>
</div>

<!-- Signup Modal -->
<div class="modal fade" id="signup-form" tabindex="-1" role="dialog" aria-labelledby="signup-form">
  <div class="modal-body signup-modal-form">
    <%= render partial: "sessions/signup_form" %>
  </div>
</div>
