<div class="container-fluid">
  <div class="row welcome-message">
    <div class="col-sm-6 col-sm-offset-3 welcome-box">
      <h4>Welcome to <br><strong class="megrim-font">Stash This Moment</strong>.</h4>
      <p>
        To get started creating your timeline, send a text message to your STM number at <strong>(504) 315-7972</strong> and refresh this page.
      </p>
    </div>
  </div>
</div>
