<section id="cd-timeline">
  <% @moments.each_with_index do |moment, index| %>
    <% if index % 2 == 0 %>
      <% hello = "cd-left" %>
    <% elsif index % 2 == 1 %>
      <% hello = "cd-right" %>
    <% end %>

    	<div class="cd-timeline-block <%= hello %>">
    		<div class="cd-timeline-img">
    			<!-- <img src="img/cd-icon-picture.svg" alt="Picture"> -->
    		</div> <!-- cd-timeline-img -->

    		<div class="cd-timeline-content">
    			<h2> <%= moment.date %> </h2>

          <% unless moment.media_url.nil?  %>
            <p><%= image_tag(moment.media_url, size: "100") %></p>
          <% end %>

    			<p> <%= moment.body %> </p>
    		</div> <!-- cd-timeline-content -->
    	</div> <!-- cd-timeline-block -->
  <% end %>
</section>
