<div class="year-row" style="overflow: auto">
    <div class="row-fluid">
      <% @years_array.each do |year| %>
        <div class="col-lg-3 year-btn"><%= year %></div>
      <% end %>
    </div>
</div>
