/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.megrim-font {
  font-family: 'Megrim', sans-serif;
  text-shadow: 1px 1px 2px #666;
}

body {
  color: rgb(10, 10, 10);
  font-family: 'Roboto', sans-serif;
  background-color: rgb(240, 240, 240);
  height: 100%;
  min-height: 800px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

footer {
  padding-top: 10%;
  padding-bottom: 2%;
  text-align: center;
  color: white;
}

body.logged-in {
  background-image: image-url("beach.jpg");
}

body.not-logged-in {
  background-image: image-url("nye.jpg");
}

body.welcome {
  background-image: image-url("boat.jpg");
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 2%;
}

.form-actions {
  border-radius: 20px;
}

.flash_message_margin {
  margin-top: 80px;
}

.btn-logout {
  float: right;
}

.navbar {
  padding: 1% 0;
  border-bottom: 1px solid rgba(100, 100, 100, .75);
}

.stm_phone_number:before {
	content:"☎ ";
	font-size: 1em;
}

.navbar-text {
  text-align: right;
  margin-right: 10px;
}

.navbar-right {
  margin-right: 1%;
}

.navbar-btn {
  border: none;
}

// overrides bootstrap's form-control styling
.form-control {
  border-radius: 20px;
}

.center-search {
    position: absolute;
    left: 40%;
    top: 25%;
    text-align: center;
    margin: auto;
}

.title-font {
  text-shadow: 1px 1px 2px #666;
  font-family: 'Megrim', sans-serif;
  font-size: 3rem;
}

a {
  color: rgb(10, 10, 10);
  text-decoration: none;
}

a:hover, a:visited, a:active, a:focus {
  color: rgb(10, 10, 10);
  text-decoration: none;
  outline: none;
}

// these two change the color of the navbar font
.navbar-default .navbar-text {
  color: rgb(10, 10, 10);
}

.navbar-default .navbar-brand {
  color: rgb(10, 10, 10);
}
