/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.megrim-font {
  font-family: 'Megrim', sans-serif;
}

body {
  color: rgb(10, 10, 10);
  font-family: 'Roboto', sans-serif;
  background-color: rgb(240, 240, 240);
  padding-top: 6%;
  padding-bottom: 6%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 2%;
}

.btn-logout {
  float: right;
}

.navbar {
  padding: 1% 0;
  border-bottom: 1px solid rgba(100, 100, 100, .75);
  background-color: rgba(255, 255, 255, .90)
}

.title-font {
  font-family: 'Megrim', sans-serif;
  font-size: 3rem;
}

a {
  color: rgb(10, 10, 10);
}

a:hover {
  color: rgb(10, 10, 10);
  text-decoration: none;
}

// these two change the color of the navbar font
.navbar-default .navbar-text {
  color: rgb(10, 10, 10);
}

.navbar-default .navbar-brand {
  color: rgb(10, 10, 10);
}
