// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  height: 25em;
  text-align: center;
}

.jumbotron-title {
  margin-top: 4em;
}

.box {
  padding: 0;
}

.login-row {
  margin-top: 10em;
}

.form-input-box {
  margin: 1em;
}
