// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid .jumbotron {
  border: 5px solid rgb(222, 252, 169);
  background-color: rgba(222, 252, 169, .80);
  height: 27em;
  text-align: center;
  margin-top: 1em;
}

.jumbotron-title {
  margin-top: 5em;
  text-shadow: 1px 1px 2px #666;
}

.jumbotron-title p {
  font-weight: bolder;
}

.login-row {
  margin-top: 3em;
}

.form-input-box {
  width: 100%;
  margin: 1em 0;
}

.center-contents {
  text-align: center;
  margin-top: 5px;
}

.btn-login {
  text-shadow: 1px 1px 2px #666;
  border: 5px solid rgb(61, 241, 206);
  background-color: rgba(61, 241, 206, .70);
  font-size: 1.2em;
}

.btn-login:hover {
  background-color: rgba(61, 241, 206, .85);
}

.btn-signup {
  text-shadow: 1px 1px 2px #666;
  border: 5px solid rgb(255, 98, 65);
  background-color: rgba(255, 98, 65, .70);
  font-size: 1.2em;
}

.btn-signup:hover {
  background-color: rgba(255, 98, 65, .85);
}

.btn-circle-lg {
    display: inline-block;
    cursor: pointer;
    width: 10em;
    height: 10em;
    text-align: center;
    padding: 4.25em 0;
    line-height: 2.00;
    border-radius: 50%;
    line-height: 1.42857143;
}

.login-modal-form {
  margin: 17% 30%;
  padding: 2em;
  border-radius: 5px;
  border: 5px solid rgb(61, 241, 206);
  background-color: rgba(61, 241, 206, .55);
}

.signup-modal-form {
  margin: 13% 30%;
  padding: 2em;
  border-radius: 5px;
  border: 5px solid rgb(255, 98, 65);
  background-color: rgba(255, 98, 65, .65);
}

.registration-login-btn {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: .5em 0;
  border-radius: 5px;
  font-weight: bold;
}

.registration-login-btn:hover {
  background-color: rgb(61, 241, 206);
}

.registration-signup-btn {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: .5em 0;
  border-radius: 5px;
  font-weight: bold;
}

.registration-signup-btn:hover {
  background-color: rgb(255, 98, 65);
}

.verification-box {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  border-radius: 5px;
  margin: 2em 15px;
  border: 5px solid rgb(222, 252, 169);
  background-color: rgba(222, 252, 169, .80);
}

.verification-field {
  background-color: rgb(245, 245, 245);
}

.verification-title-font {
  font-family: 'Megrim', sans-serif;
  text-align: center;
  margin-top: 0;
  font-size: 4rem;
}

.verify-btn {
  width: 100%;
  padding: .5em 0;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px 0;
}
.verification-btn {
  // border: 2px solid rgb(222, 252, 169);
  background-color: transparent;
}

.verification-btn:hover {
  background-color: rgb(222, 252, 169);
}

.resend-verification-btn {
  // border: 2px solid rgb(61, 241, 206);
  background-color: rgba(61, 241, 206, .75);
}

.resend-verification-btn:hover {
  background-color: rgb(61, 241, 206);
}

.cancel-verification-btn {
  // border: 2px solid rgb(255, 98, 65);
  background-color: rgba(255, 98, 65, .75);
}

.cancel-verification-btn:hover {
  background-color: rgb(255, 98, 65);
}
