// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage {
  background-image: none;
}

.welcome-message {
  text-align: center;
  margin-top: 5%;
  min-width: 80px;
}

.welcome-box {
  padding: 2em;
  border-radius: 5px;
  margin: 15px 15px;
  border: 5px solid rgb(222, 252, 169);
  background-color: rgba(222, 252, 169, .80);
}

.welcome-message h4 {
  font-size: 3em;
}

#cd-timeline {
  position: relative;
  padding: 4em 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background: -webkit-linear-gradient(top, rgba(200,200,200,0) 0%, rgb(200,200,200) 5%, rgb(200,200,200) 95%, rgba(200,200,200,0) 100%);
}

.cssanimations .is-hidden {
  visibility: hidden;
}
.cssanimations .bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.5s;
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  60% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.cd-timeline-block {
  margin-bottom: 5em;
}

.cd-right {
  margin-left: 55%;
}

.cd-left {
  text-align: right;
  width: 45%;
}

// this is the moment box
.cd-timeline-content {
  background-color: #f8f8f8;
  box-shadow: 1px 1px 3px #666;
  position: relative;
  border-radius: 0.25em;
  padding: 1em;
}

// this is the moment box's flag for left boxes
.cd-left .cd-timeline-content::before {
  left: 100%;
  border-color: transparent;
  border-left-color: #f8f8f8;
}

// this is the moment box's flag
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 24px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #f8f8f8;
}

.cd-timeline-content p {
  color: black;
}

.color-orange .cd-timeline-block::before {
  border: 4px solid rgb(255, 142, 65);
}

.color-red .cd-timeline-block::before {
  border: 4px solid rgb(255, 98, 65);
}

.color-blue .cd-timeline-block::before {
  border: 4px solid rgb(61, 241, 206);
}

.color-green .cd-timeline-block::before {
  border: 4px solid rgb(203, 249, 121);
}

// this is for the circles on the timeline
.cd-timeline-block::before {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -13px;
  margin-top: 18px;
  background: rgb(240, 240, 240);
  border-radius: 50%;
  z-index: 10;
}

.cd-timeline-content h3 {
  border-radius: 2px;
  margin-top: 0px;
  padding: 3px;
}

// styling the dates on the moments
.color-orange {
  color: rgb(255, 142, 65);
}

.color-red {
  color: rgb(255, 98, 65);
}

.color-blue {
  color: rgb(61, 241, 206);
  }

.color-green {
  color: rgb(203, 249, 121);
}
